%div{:class => "well span10 offset1"}
  To have an account created, send an email to <a href="&#109;&#97;i&#108;t&#111;&#58;&#112;&#111;&#107;&#101;&#114;&#64;&#99;&#101;&#114;v&#101;&#110;&#107;&#97;&#46;&#99;&#111;&#109;">&#112;&#111;k&#101;r@&#99;er&#118;e&#110;&#107;&#97;&#46;&#99;&#111;&#109;</a>